[submodule "public"]
	path = public
	url = git@github.com:yawpitchroll/yawpitchroll.github.io.git
	branch = master
[submodule "themes/frugal"]
	path = themes/frugal
	url = git@github.com:yawpitchroll/frugal.git
